.containerLogin {
    margin-top: auto;
    width: 400px;
    margin: auto;
}

.containerLogin {
    background-color: #ffffff;
    margin: 20px auto;
    color: #281549;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 80%;
    text-align: center;
}

.containerLogin .form-container {
    width: 30% !important\;
}
.containerLogin h1 {
font-size: 24px;
margin-bottom: 20px;
}
.error {
    color: #f4922c;
    font-weight: bold;
    margin-bottom: 15px;
}
form {
display: flex;
flex-direction: column;
}

label {
font-size: 14px;
margin-bottom: 5px;
text-align: left;
}

input[type="text"], input[type="password"] {
font-size: 16px;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 4px;
outline: none;
transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
border-color: #f4922c;
}

input:focus {
    outline: 2px solid #f4922c;
    outline-offset: 2px;
}

button {
background-color: #f4922c;
color: white;
font-size: 16px;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: #d97f24;
}

a {
color: #f4922c;
text-decoration: none;
font-size: 14px;
display: inline-block;
margin-top: 15px;
transition: color 0.3s;
}

a:hover {
color: #d97f24;
}

@media (max-width: 480px) {
.containerLogin {
padding: 15px 20px;
}
}