

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #444;
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
    color: #555;
}

h3 {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

ul li:nth-child(odd) {
    background: #efefef;
}

form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
}

/* Like/Dislike Buttons */
button.like-button, button.dislike-button, button.likec-button, button.dislikec-button {
    padding: 5px 10px; /* Smaller size */
    background-color: #fff; /* White background */
    color: #007bff; /* Blue text color */
    border: 2px solid #007bff; /* Blue border */
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transitions */
}
button.like-button, button.dislike-button, button.likec-button, button.dislikec-button {
    border-color: #f4922c;
    color: #f4922c;
}

button.like-button:hover, button.dislike-button:hover, 
button.likec-button:hover, button.dislikec-button:hover {
    background-color: #007bff; /* Blue background on hover */
    color: #fff; /* White text color on hover */
}

button.like-button.active, button.dislike-button.active, 
button.likec-button.active, button.dislikec-button.active {
    border-color: #ff9800; /* Orange border when active */
    color: #ff9800; /* Orange text color when active */
}
