/* [project]/src/app/navigation/nav.module.css [app-client] (css) */
.nav-module__ZdNNxq__nav {
  background-color: var(--primary-color);
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  position: fixed;
  box-shadow: 0 5px 10px 5px #0000001a;
}

.nav-module__ZdNNxq__bottomNav {
  display: none;
}

.nav-module__ZdNNxq__leftSection, .nav-module__ZdNNxq__centerSection, .nav-module__ZdNNxq__rightSection {
  align-items: center;
  margin-right: 60px;
  display: flex;
}

.nav-module__ZdNNxq__leftSection {
  flex: 1;
}

.nav-module__ZdNNxq__centerSection {
  flex: 2;
  justify-content: center;
  gap: 1rem;
}

.nav-module__ZdNNxq__rightSection {
  flex: 1;
  justify-content: flex-end;
  gap: .5rem;
}

.nav-module__ZdNNxq__loginTitle {
  color: var(--third-color);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  transition: color .3s;
}

.nav-module__ZdNNxq__loginTitle:hover {
  color: var(--hover-color);
}

.nav-module__ZdNNxq__links {
  align-items: center;
  gap: .5rem;
  display: flex;
}

.nav-module__ZdNNxq__linkWithIcon {
  color: var(--third-color);
  padding: 16px;
  text-decoration: none;
  display: inline-flex;
}

.nav-module__ZdNNxq__linkWithIcon:hover {
  color: var(--hover-color);
  border-bottom: solid 3px var(--hover-color);
}

.nav-module__ZdNNxq__active {
  border-bottom: solid 3px var(--third-color);
  text-decoration: none;
}

.nav-module__ZdNNxq__iconWrapper {
  width: 20px;
  height: 20px;
  position: relative;
}

.nav-module__ZdNNxq__iconDefault, .nav-module__ZdNNxq__iconHover {
  transition: opacity .3s;
  position: absolute;
  top: 0;
  left: -2px;
}

.nav-module__ZdNNxq__iconDefault {
  opacity: 1;
}

.nav-module__ZdNNxq__linkWithIcon:hover .nav-module__ZdNNxq__iconDefault, .nav-module__ZdNNxq__iconHover {
  opacity: 0;
}

.nav-module__ZdNNxq__linkWithIcon:hover .nav-module__ZdNNxq__iconHover {
  opacity: 1;
}

.nav-module__ZdNNxq__dropdownWrapper {
  display: inline-block;
  position: relative;
}

.nav-module__ZdNNxq__profile {
  color: var(--third-color);
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  transition: color .3s;
  display: flex;
}

.nav-module__ZdNNxq__notif {
  cursor: pointer;
  margin-right: 10px;
}

.nav-module__ZdNNxq__dropdownMenu {
  background: var(--border-color);
  z-index: 1000;
  border-radius: 4px;
  flex-direction: column;
  min-width: 160px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  overflow: hidden;
  box-shadow: 0 2px 8px #00000026;
}

.nav-module__ZdNNxq__dropdownWrapper:hover .nav-module__ZdNNxq__dropdownMenu {
  display: flex;
}

.nav-module__ZdNNxq__dropdownMenu button {
  color: var(--secondary-color);
  cursor: pointer;
  text-align: left;
  background: none;
  border: none;
  margin: 0;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  transition: background .2s;
}

.nav-module__ZdNNxq__dropdownMenu button:hover, .nav-module__ZdNNxq__dropdownMenu a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.nav-module__ZdNNxq__dropdownMenu a {
  color: var(--secondary-color);
  padding: 10px 15px;
  font-weight: bold;
  text-decoration: none;
  transition: background .2s;
}

.nav-module__ZdNNxq__dropdownMenu a:hover, .nav-module__ZdNNxq__dropdownMenu button:hover {
  background-color: #f0f0f0;
}

.nav-module__ZdNNxq__logged {
  display: none;
}

@media (width <= 768px) {
  .nav-module__ZdNNxq__links {
    flex-direction: column;
    align-items: center;
  }

  .nav-module__ZdNNxq__navLinks, .nav-module__ZdNNxq__authLinks {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-module__ZdNNxq__centerSection {
    width: 100%;
    display: none;
  }

  .nav-module__ZdNNxq__bottomNav {
    background-color: var(--primary-color);
    border-top: 1px solid var(--border-color);
    z-index: 1000;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .nav-module__ZdNNxq__centerSection {
    display: none;
  }

  .nav-module__ZdNNxq__bottomNav .nav-module__ZdNNxq__linkWithIcon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    display: flex;
  }

  .nav-module__ZdNNxq__bottomNav .nav-module__ZdNNxq__iconWrapper {
    width: 24px;
    height: 24px;
  }

  .nav-module__ZdNNxq__bottomNav .nav-module__ZdNNxq__linkWithIcon:hover .nav-module__ZdNNxq__iconDefault {
    opacity: 1;
  }

  .nav-module__ZdNNxq__bottomNav .nav-module__ZdNNxq__linkWithIcon:hover .nav-module__ZdNNxq__iconHover {
    opacity: 0;
  }
}

@media (width <= 375px) {
  .nav-module__ZdNNxq__loginTitle {
    font-size: 17px;
  }

  .nav-module__ZdNNxq__linkWithIcon {
    font-size: 10px;
  }
}

@media (width <= 320px) {
  .nav-module__ZdNNxq__loginTitle {
    font-size: 15px;
  }
}


/* [project]/src/app/global.css [app-client] (css) */
html {
  scrollbar-width: thin;
  scrollbar-color: #ddd #fff;
  overflow-y: scroll;
}

:root {
  --primary-color: #1a1a1a;
  --secondary-color: #e0e0e0;
  --hover-color: #8d6b0d;
  --third-color: #fb0;
  --border-color: #333;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/*# sourceMappingURL=src_app_38d0e409._.css.map*/