/* [project]/src/app/global.module.css [app-client] (css) */
:root {
  --primary-color: #fff;
  --secondary-color: #1c1665;
  --third-color: #fb0;
  --border-color: #ddd;
}

.global-module__5XLRYa__global {
  margin: 0;
  padding: 0;
  display: block;
}

.global-module__5XLRYa__firstSide, .global-module__5XLRYa__thirdSide {
  background-color: var(--primary-color);
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 20px;
  overflow-y: auto;
}

.global-module__5XLRYa__firstSide {
  border-right: 1px solid var(--border-color);
  left: 0;
}

.global-module__5XLRYa__thirdSide {
  border-left: 1px solid var(--border-color);
  right: 0;
}

.global-module__5XLRYa__centerContent {
  box-sizing: border-box;
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}

.global-module__5XLRYa__firstSide h1, .global-module__5XLRYa__thirdSide h1 {
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.global-module__5XLRYa__groups, .global-module__5XLRYa__friends, .global-module__5XLRYa__Requiests {
  border-bottom: 1px solid #1c1665;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}

.global-module__5XLRYa__groups > div, .global-module__5XLRYa__friends > div, .global-module__5XLRYa__Requiests > div {
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.global-module__5XLRYa__friends > div {
  cursor: pointer;
}

.global-module__5XLRYa__groups > div > div {
  align-items: center;
  margin-right: 10px;
  display: flex;
}

.global-module__5XLRYa__Buttons a {
  color: #fff;
  background-color: #1c1665;
  border: 1px solid #1c1665;
  border-radius: 10px;
  margin-left: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.global-module__5XLRYa__Buttons a:hover {
  color: #1c1665;
  background-color: #efcb68;
  border: 1px solid #efcb68;
}

.global-module__5XLRYa__Requiests > div > div {
  align-items: center;
  display: flex;
}

.global-module__5XLRYa__friends h5 {
  margin: 0;
}

.global-module__5XLRYa__groups h5 {
  color: #000;
  margin: 10px;
  font-size: 1rem;
}

.global-module__5XLRYa__groups p, .global-module__5XLRYa__friends p {
  color: #555;
  margin: 0;
  font-size: .9rem;
}

.global-module__5XLRYa__groups a {
  color: #1c1665;
  font-size: bold;
  text-decoration: none;
}

.global-module__5XLRYa__groups a:hover {
  color: #efcb68;
}

.global-module__5XLRYa__post {
  border: 1px solid var(--border-color);
  color: #000;
  background-color: #ffffff7c;
  border-radius: 8px;
  width: 75%;
  margin-bottom: 20px;
  margin-left: 12%;
  padding: 0 20px;
}

.global-module__5XLRYa__userinfo {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.global-module__5XLRYa__userinfo > div {
  align-items: center;
  display: flex;
}

.global-module__5XLRYa__content {
  margin: 20px 0;
}

.global-module__5XLRYa__footer {
  justify-content: flex-end;
  margin: 20px 0;
  display: flex;
}

.global-module__5XLRYa__footer > img {
  cursor: pointer;
  margin-left: 10px;
}

@media (width <= 1024px) {
  .global-module__5XLRYa__firstSide, .global-module__5XLRYa__thirdSide {
    width: 31%;
  }

  .global-module__5XLRYa__centerContent {
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media (width <= 768px) {
  .global-module__5XLRYa__firstSide, .global-module__5XLRYa__thirdSide {
    display: none;
  }

  .global-module__5XLRYa__centerContent {
    width: 100%;
    margin: 60px 0;
  }

  .global-module__5XLRYa__post {
    margin: 10px 8%;
  }
}


/*# sourceMappingURL=src_app_global_module_c4632947.css.map*/