.container {
    margin: 80px 0;
}

.formContainer {
    max-width: 500px;
    width: 90%;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(131, 131, 131, 0.459);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.messageBox {
    text-align: center;
    margin: 2rem auto 1rem;
    max-width: 500px;
    width: 90%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.messageBox h2 {
    font-size: 24px;
    color: var(--third-color);
    font-weight: bold;
}

.label {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 600;
    background-color: var(--primary-color);
}

.input {
    background-color: #2a2a2a;
    padding: 10px 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 15px;
    transition: border 0.2s ease-in-out;
    width: 100%;
    box-sizing: border-box;
    color: var(--secondary-color);
}

.input:focus {
    border-color: var(--third-color);
    outline: none;
}

.input::placeholder {
    color: #aaa;
}

.input[type="file"] {
    padding: 0.5rem;
    color: var(--secondary-color);
}

.submitButton {
    margin-top: 1rem;
    padding: 12px 20px;
    background-color: var(--third-color);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.submitButton:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Responsive */
@media (max-width: 600px) {
    .formContainer {
        padding: 1.5rem;
        margin: 2rem auto;
    }

    .messageBox h2 {
        font-size: 20px;
    }

    .input,
    .submitButton {
        font-size: 15px;
    }
}

