.container {
    margin-top: 60px;
    display: flex;
    color: var(--secondary-color);
}

.top a {
    color:var(--secondary-color)
}

.first {
    border-right: solid 1px var(--border-color);
    position: fixed;
    top: 35px;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 30%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1vh;
}

.header img {
    cursor: pointer;
}

.users {
    display: flex;
    flex-direction: column;
}

.message {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 0 0.5vw;
    cursor: pointer;
    margin-bottom: 1vh;
}

.user:hover {
    background-color: var(--border-color);
    border-radius: 10px;
}

.user.active {
    background-color: var(--border-color);
    border-radius: 10px;
}

.user:not(.active):hover {
    background-color: var(--border-color);
    border-radius: 10px;
}

.last {
    margin-left: auto;
}

.userImageWrapper {
    position: relative;
    display: inline-block;
    /* or flex */
}

.activeIndicator {
    position: absolute;
    bottom: 4px;
    right: 5px;
    width: 12px;
    height: 12px;
    background-color: #4caf50;
    border: 2px solid #4caf50;
    border-radius: 50%;
    box-shadow: 0 0 4px #4caf50aa;
}

.select {
    border-bottom: solid 1px var(--border-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.select>div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px 5px;
    width: 10vw;
}

.active {
    background-color: var(--border-color);
    border-radius: 10px;
}

.select>div>p {
    margin-left: 10px;
}

.second {
    width: 70%;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-left: 30%;
}

.chat {
    background-color: var(--border-color);
    width: 97%;
    height: 89vh;
    margin-top: 2vh;
    border-radius: 10px;
}

.top {
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emptyChat {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--text-muted-color);
}

.userInfo h5,
.userInfo h6 {
    margin: 0;
    line-height: 1.3;
}

.body {
    height: 82%;
    /* width: 100%; */
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding: 1vw;
    gap: 1vh;
}

.bottom {
    height: 7%;
    /* width: 100%; */
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

.bottom div {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.bottom input {
    width: 80%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--third-color);
    border-radius: 6px;
    transition: border 0.2s ease-in-out;
    width: 100%;
    background-color: #2a2a2a;
    color: var(--secondary-color);
    box-sizing: border-box;
}

.user1,
.user2 {
    padding: 8px;
    width: auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    font-size: small;
}

.user1 p,
.user2 p {
    margin-right: 2vw;
}

.user1 p:last-child,
.user2 p:last-child {
    margin-right: 0;
}

.user1 {
    align-self: flex-start;
    background-color: var(--hover-color);
    margin-left: 0.2vw;
}


.user2 {
    align-self: flex-end;
    background-color: var(--primary-color);
    margin-right: 2vw;
}

.chat_input_form {
    display: flex;
    width: 100%;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .first {
        position: relative;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 40px;
    }

    .second {
        width: 100%;
        margin-left: 0;
        margin-bottom: 70px;
    }

    .chat {
        width: 100%;
        height: 80vh;
        margin-top: 1vh;
    }

    .bottom input {
        font-size: 0.9rem;
    }

    .select>div {
        width: 30%;
    }

    .select>div>p {
        display: none;
    }

    .user {
        padding: 0 0vw;
        font-size: small;        
    }
}