body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #1C1665;
  --third-color: #efcb68;
  --border-color: #ddd;
}

.global {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.firstSide,
.thirdSide {
  width: 20%;
}

.firstSide h1,
.thirdSide h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.groups,
.friends,
.Requiests {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: #1C1665 1px solid;
}

.groups>div,
.friends>div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Requiests>div {
    display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* justify-content: space-between; */
}

.friends>div {
  cursor: pointer;
}

.groups>div>div {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.Buttons a{
  margin-left: 20px;
  border: solid 1px #1C1665;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #1C1665;
  color: white;
}

.Requiests>div>div {
  display: flex;
  align-items: center;
}

.friends h5 {
  margin: 0;
}

.groups h5 {
  margin: 10px;
  font-size: 1rem;
  color: black;
}

.groups p,
.friends p {
  margin: 0;
  color: #555;
  font-size: 0.9rem;
}

.groups a {
  color: #1C1665;
  text-decoration: none;
  font-size: bold;
}

.groups a:hover {
  color: #efcb68;
}


.centerContent {
  width: 55%;
  padding: 0 20px;
}

.centerContent>div {
  background-color: #f0f0f0;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-weight: bold;
  text-align: center;
  width: 75%;
  margin-left: 12%;
}